html, body { 
    margin:0; 
    padding:0; 
    overflow:hidden 
}
/* svg {
     position:fixed; 
     top:0; 
     bottom:0; 
     left:0; 
     right:0 
    }
     */
/* <------- Home Page -------> */
.bg-img{
   
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%, 70%;
    position: relative;
}

.voice-bg-img{
   
    background-image: url("./images/phrase_background.jpg");
    min-height: 1500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.logo:hover{
    fill:orange
}

#tv {
    animation: woodlog 3s infinite linear ;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes tv {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}

.center{
    text-align: center;
}

#image-3{
    fill: orange
}

/* <-----Sign Up Page ------>  */

.signup-bg-img{
    background-image: url("./images/signupbg.png");
    min-height: 1600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#image-container {
    width: 720px;
    height: 1010px;
    background: url(./images/SignUp.png);
}
#form-container {
    width:450px;
    margin: 10px auto 0 auto;
    text-align: center
 }

.signup_img{
    text-align: center
}

form input{
    height:50px;
    width:450px;
    font-size:14pt;
}

.yellowbutton:hover {
    background: url('./images/yellowsubmitbutton.png') no-repeat;
  }

  /* <-----Login Page ------>  */

  #login-image-container {
    width: 720px;
    height: 700px;
    background: url(./images/Login.png);
}


/* <--------Level One Page-----> */
.levelone-bg-img{
    background-image: url("./images/levelonebg.png");
    min-height: 1600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:fixed; 
     top:0; 
     bottom:0; 
     left:0; 
     right:0 
}

.tv{
    width: 60vw;
}

.center{
    text-align: center;
}

.video{
    text-align: center; 
    width: 30px;
}

.video_tv{
    position: relative;
    left: 350px;
    bottom: 600px;
    height: 300%;
    width: 205%;
    float: right;
}


/* 
body { 
    font-family: 'Lato';
    background-color: #f0f0f0;
    margin: 0px auto;
    max-width: 1150px;
} */

#overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    -o-transform : scaleX(-1);
    -webkit-transform : scaleX(-1);
    transform : scaleX(-1);
    -ms-filter : fliph; /*IE*/
    filter : fliph; /*IE*/
}

#videoel {
    -o-transform : scaleX(-1);
    -webkit-transform : scaleX(-1);
    transform : scaleX(-1);
    -ms-filter : fliph; /*IE*/
    filter : fliph; /*IE*/

    
}

#webcam-container {
    position : relative;
    width : 370px;
    /*margin : 0px auto;*/
}

#content {
    margin-top : 50px;
    margin-left : auto;
    margin-right : auto;
    max-width: 600px;
}

h2 {
    font-weight : 400;
}

.btn {
    font-family: 'Lato';
    font-size: 16px;
}

#controls {
    text-align : center;
}

#emotion_container {
    width: 600px;
}

#emotion_icons {
    height: 50px;
    padding-left: 40px;
}

.emotion_icon {
    width : 40px;
    height : 40px;
    margin-top: 5px;
    /*margin-left : 13px;*/
    margin-left : 35px;
}

#emotion_chart, #emotion_icons {
    margin: 0 auto;
    width : 400px;
}

#icon1, #icon2, #icon3, #icon4, #icon5, #icon6 {
    visibility : hidden;
}

/* d3 */
.bar {
    fill : steelblue;
    fill-opacity : .9;
} 

.parent {
position: relative;
top: 0;
left: 0;
z-index: 2
}
  
.webcam_position{
    position: absolute;
    top: 150px;
    left: 210px;
    z-index: 1
}

.webcam-position2{
    position: relative;
    top: 40px;
    left: 350px;
    z-index: 2;
}

.character {
position: absolute;
top: 40px;
left: 0px;
z-index: 1
}

/* <------Parents Home Page --------> */
.parents-bg-img{
   
    background-image: url("./images/parents_landingbg.svg");
    min-height: 1500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* <------Webcam Page --------> */
.font{
    font-family: Impact, Charcoal, sans-serif;
}



